ci:
  autoupdate_schedule: quarterly
default_language_version:
    python: python3.11
repos:
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.2.5
    hooks:
      - id: biome-ci
        additional_dependencies: ["@biomejs/biome@1.7.3"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.19
    hooks:
      - id: pip-compile
        name: pip-compile requirements.in
        args: [requirements.in, -o, requirements.txt]
